<header>
    <div id="header-container">
        <div class="row" style="max-width: 1400px; margin: 0 auto !important;">
            <!-- logo -->
            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mb-1 px-0">
                <h1><a href="/">mygiftshop</h1></a>
            </div>
            <!-- search bar -->
            <div class="col-xl-7 col-lg-5 d-none d-lg-block mt-4 mb-1 mr-n5 px-0">
                <form class="form-inline" action="/product/search" method="POST">
                    <input class="form-control col-10" type="search" placeholder="Search" aria-label="Search" id="searchKeyword" name="searchKeyword" >
                    <input type="submit" id="submit-header-search" class="fa fa-search" value="&#xf002" style="height: 38px; width: 38px; margin-left: 4px;">
                </form>
            </div>
            <!-- login / signup / shopping cart icons -->
            <div class="col-xl-2 col-lg-3 col-md-12 px-0 mb-1">
                <div class="right-icons">
                    <!-- checks if there's an active session. if positive, welcome user and show logout option. 
                    otherwise, show login and register buttons -->
                    <p>
                    {{#if user}}
                            Hello, <a href="/user/profile">{{user.firstName}}</a>
                            <a href="/user/logout"><i class="fas fa-sign-out-alt fa-1x ml-n2"></i></a>
                    {{else}}                
                            <a href="/user/login"><span id="myBtn">Login</span></a>
                            <a href="/user/signup"><span id="myBtn2">Sign Up</span></a>
                    {{/if}}

                    <a href="/user/shoppingCart"><i class="fas fa-shopping-cart fa-1x mr-n3"></i></a>
                    <!-- show cart quantity if greater than zero -->
                    {{#if_eq cart 0}}
                    {{else}}
                    {{cart}}
                    {{/if_eq}}
                    </p>
                </div>
            </div>
            <!-- search bar for smaller devices-->
            <div class="d-lg-none col-md-12 col-sm-12 col-xs-12 mb-4 mr-n3 px-0">
                <form class="form-inline justify-content-center">
                    <input class="form-control col-9" type="search" placeholder="Search" aria-label="Search">
                    <input type="submit" id="submit-header-search" class="fa fa-search" value="&#xf002" style="height: 38px; width: 38px; margin-left: 4px;">
                </form>
            </div>
        </div>
    </div>

    <!-- nav -->
    <nav class="navbar navbar-expand-sm  navbar-dark" style="background-color: #3B6779; padding: 2px; margin: 0;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin: 0 auto">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin: 0 auto">
                {{#if_eq headerReference "home"}}
                    <li class="nav-item active">
                {{else}}
                    <li class="nav-item">
                {{/if_eq}}
                        <a class="nav-link" href="/">Home</a>
                    </li>

                {{#if_eq headerReference "products"}}
                    <li class="nav-item active">
                {{else}}
                    <li class="nav-item">
                {{/if_eq}}
                        <a class="nav-link" href="/product/all">Products</a>
                    </li>

                {{#if_eq headerReference "careers"}}
                    <li class="nav-item active">
                {{else}}
                    <li class="nav-item">
                {{/if_eq}}
                        <a class="nav-link" href="/careers">Careers</a>
                    </li>

                {{#if_eq headerReference "about"}}
                    <li class="nav-item active">
                {{else}}
                    <li class="nav-item">
                {{/if_eq}}
                        <a class="nav-link" href="/about">About</a>
                    </li>
            </ul>
        </div>
    </nav>
</header>