<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{headingInfo}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Quicksand|Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <div id="header-grid">
            <div id="logo-area">
                  <h1><a href="/">mygiftshop</h1></a>
            </div>

            <div class="header-search-container">
                <form action="/" method="POST">
                    <input type="text" placeholder="Search.." name="search">
                    <input type="submit" id="submit-header-search" class="fa fa-search" value="&#xf002"/>
                </form>
            </div>

            <div id="id-buttons">
                <a href="#"><span id="myBtn">Login</span></a>
                <a href="#"><span id="myBtn2">Sign Up</span></a>
            </div>
        </div>

        <nav id="regular-nav">
            <ul class="nav-menu" id="nav-items">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="#">Link #3</a></li>
                <li><a href="#">Link #4</a></li>
                <li><a href="#">Link #5</a></li>
            </ul>
        </nav>

        <nav id="hamburger-nav">
            <a href="#" id="hamburgerLink"><i class="fas fa-bars fa-2x"></i></a>

            <div id="nav-search-container">
                <form action="/" method="POST">
                    <input type="text" id="nav-searchbar" placeholder="Search.." name="search">
                    <input type="submit" id="submit-hamburger-search" class="fa fa-search" value="&#xf002"/>
                </form>
            </div>

        </nav>

        <nav id="hamburger-nav-expanded">
            <ul class="nav-menu" id="nav-items">
                <div id="menu-to-show-or-hide">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="#">Link #3</a></li>
                    <li><a href="#">Link #4</a></li>
                    <li><a href="#">Link #5</a></li>
                </div>
            </ul>
        </nav>



    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <div id="footer-grid-categories">

            <div class="category-in-footer-grid">
                <p>mygiftshop</p>
                <p>1750 Finch Ave E</p>
                <p>Toronto, ON M2J 2X5</p>
                <p>416-123-4567</p>
                <p><a href="mailto:info@mygiftshop.com">info@mygiftshop.com</a></p>
            </div>

            <div class="category-in-footer-grid">
                <p>Hear all about us!</p>
                <form>  <!-- to be implemented in the future -->
                    <div id="footer-subscription">
                        <input type="email" id="email-field" name="useremail" placeholder="Your e-mail">
                        <input type="submit" id="subscribe-button" value="Subscribe">
                    </div>
                </form>
                <br>
                <p>
                    <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-whatsapp fa-2x"></i></a>
                </p>
            </div>

        </div>
        <br>
        <div id="footer-grid-copyright">
            <p>© 2020 by mygiftshop, Inc.
                <a href="#top"><i class="far fa-arrow-alt-circle-up"></i></a>
            </p>
        </div>
    </footer>

  <!-- modals to be displayed when user clicks on login or sign up --->

{{#if errorsLoginId}}
    <div id="myModal" style="display: block" class="modal">
{{else}}
    {{#if errorsLoginPassword}}
        <div id="myModal" style="display: block" class="modal">
    {{else}}
        <div id="myModal" class="modal">
    {{/if}}
{{/if}}
        <div class="modal-content">
        <span class="close">&times;</span>

        <h2>Login</h2>

        <form action="/" method="POST">

            <label for="loginuserid"><p>E-mail address or mobile phone number</p></label>
            <input type="text" id="loginuserid" name="loginuserid" value="{{this.loginInputId}}">
                {{#each errorsLoginId}}
                    <div class="errors"><p>{{this}}</p></div>
                {{/each}}

            <label for="loginpassword"><p>Password</p></label>
            <input type="password" id="loginpassword" name="loginpassword" value="{{this.loginInputPassword}}"><br>
                {{#each errorsLoginPassword}}
                    <div class="errors"><p>{{this}}</p></div>
                {{/each}}

            <input type="submit" id="loginsubmit" value="Continue">
        </form>

        </div>

    </div>


{{#if errorsSignupName}}
    <div id="myModal2" style="display: block" class="modal">
{{else}}
    {{#if errorsSignupEmail}}
        <div id="myModal2" style="display: block" class="modal">
    {{else}}
        {{#if errorsSignupPassword}}
            <div id="myModal2" style="display: block" class="modal">
        {{else}}
            {{#if errorsSignupPasswordConfirmation}}
                <div id="myModal2" style="display: block" class="modal">
            {{else}}
                <div id="myModal2" class="modal">
            {{/if}}
        {{/if}}
    {{/if}}
{{/if}}

    <div class="modal-content">
      <span class="close2">&times;</span>
      <h2>Sign Up</h2>

      <form action="/dashboard" method="POST">
          <label for="signupusername"><p>Your name</p></label>
          <input type="text" id="signupusername" name="signupusername" value="{{this.signupInputName}}">
                {{#each errorsSignupName}}
                    <div class="errors"><p>{{this}}</p></div>
                {{/each}}

          <label for="signupemail"><p>E-mail</p></label>
          <input type="text" id="signupemail" name="signupemail" value="{{this.signupInputEmail}}">
                {{#each errorsSignupEmail}}
                    <div class="errors"><p>{{this}}</p></div>
                {{/each}}

          <label for="signuppassword"><p>Password</p></label>
          <input type="password" id="signuppassword" name="signuppassword" value="{{this.signupInputPassword}}">
                {{#each errorsSignupPassword}}
                    <div class="errors"><p>{{this}}</p></div>
                {{/each}}

          <label for="signuppasswordconfirmation"><p>Please re-enter password</p></label>
          <input type="password" id="signuppasswordconfirmation" name="signuppasswordconfirmation" value="{{this.signupInputPasswordConfirmation}}">
                {{#each errorsSignupPasswordConfirmation}}
                    <div class="errors"><p>{{this}}</p></div>
                {{/each}}

          <input type="submit" id="submit-signup" value="Create mygiftshop account">
      </form>

    </div>
  </div>

  <script src="js-front/mainfrontend.js"></script>

</body>

</html>