<section>

    <h2>{{title}}</h2>

    <div id="products-grid">

        <div id="products-menu">
            <h3>Categories</h3>
            <hr>
            <p><span class="makeBold">All</span></p>
            {{#each categories}}
                <a href="#"><p>{{this.category}}</p></a>
            {{/each}}
            <hr>
        </div>

        <div class="section-caroussel">
            {{#each allProducts}}
                <div class="item-in-section-caroussel">
                    <div>
                        <a href="#"><img src="img/{{this.image}}" alt="{{this.title}}">
                        <p>{{this.title}}</p>
                        <p>{{this.category}}</p>
                        <p>$ {{this.price}}</p></a>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>

</section>