<section>
  <h2>
    {{title}}
  </h2>
  <!-- products -->
  <div class="products-carousel">
    <div class="row" style="max-width: 750px; margin: 0 auto !important;">
      {{#each productData}}
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-5">
          <div class="carousel-cell">
            <a href="/product/{{this._id}}">
              <img src="/img/uploads/{{this.picture}}" alt="{{this.name}}" />
              <p>
                {{this.name}}
              </p>
              <p>
                {{this.category}}
              </p>
              <p>
                $
                {{this.price}}
              </p>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>